section
  h1 Learn Python!
  h2.fragment  and have fun doing it
  h2 Lesson 1

section
  h2 Programming languages!
  aside.notes Have you heard of any programming languages?
  p.fragment Programming language: a set of instructions that the computer understands
  p.fragment Programs are sequences of those instructions (like a cookbook)

section
  h2 Download the awesome!
  p.fragment: a(href='https://www.python.org/downloads/') https://www.python.org/downloads/
  p.fragment

// TODO: Online python interpreter? PythonAnywhere, Jupyter Notebook session sharing